.header {
    color: white;
    background-color: #047575;
    display: flex;
    justify-content: space-around;
}
.header_title {
    line-height: 85px;
    font-weight: 900;
    height: 90px;
    margin: 0;
}
.header_link {
    color: White;
}
.header_link:hover {
    color: greenyellow;
}

.logoutBtn {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 17px;
    border-radius: 0;
    background-color: #047575;
    color: white;
}
.logoutBtn:hover {
    color: greenyellow;
}
