.header {
    color: white;
    background-color: #047575;
}
.header_title {
    max-width: 600px;
    line-height: 85px;
    font-weight: 900;
    height: 90px;
    margin: 0;
    text-align: center;
}
.header_link {
    color: White;
}
.header_link:hover {
    color: greenyellow;
}
