.header {
    color: white;
    background-color: #047575;
    display: flex;
    justify-content: space-around;
}
.header_title {
    line-height: 85px;
    font-weight: 900;
    height: 90px;
    margin: 0;
}
.header_link {
    color: White;
}
.header_link:hover {
    color: greenyellow;
}

.logoutBtn {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 17px;
    border-radius: 0;
    background-color: #047575;
    color: white;
}
.not_login_user_span {
    font-size: 23px;
    color: rgb(241, 88, 27);
}

.not_login {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 17px;
    border-radius: 0;
    background-color: #047575;
    color: white;
}
.logoutBtn:hover {
    color: greenyellow;
}
