.login_title {
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 50px;
    font-weight: 600;
}

.get_form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.newpost {
    margin: 20px 0;
}
.newpost_title {
    margin-bottom: 10px;
}
.submitBtn {
    margin-top: 30px;
    width: 120px;
}
.submitBtn:hover {
    background-color: #606c76;
    border-color: #606c76;
    color: #fff;
}
.p_tag {
    margin-top: 20px;
}
.go_register {
    color: blue;
    font-size: 15px;
}
